html,
body {
    height: 100vh;
}

#image-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.image-content-img {
    max-width: 100%;
    min-height: 100px;
}

hr {
    border: 0;
    width: 96%;
    background-color: #c5bfc1e8;
    height: 1px;
}